In [94]:
s=0
s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [92]:
s=0
s+=1
s+=2
s+=3
s+=4
s+=5

s

15

In [220]:
s = 0

for x in [1,2,3,4,5]:
    s = s + x
    
s

15

In [ ]:
リストの各要素をxという名前をつけて取り出す

In [126]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [219]:
s = 0

for x in list_tohoku:
    s += x
    
s

32042

In [218]:
 list_shikoku = [3148, 2991, 2966, 2457]
    
s=0
for x in list_shikoku:
        s += x
        
s/len(list_shikoku)

2890.5

In [221]:
from statistics import *

In [222]:
mean(list_shikoku)

2890.5

In [233]:
a = {'Apple':100,'Appe':10,'Aple':34,'pple':567,}

In [228]:
a['Apple']

100

In [231]:
for x in a:
    print(x)
    print(a[x])

Apple
100
Appe
10
Aple
34
pple
567

In [236]:
s=0

for x in a:
    s += a[x]
    
s/len(a)

177.75

In [238]:
a.values()

dict_values([100, 10, 34, 567])

In [239]:
mean(a.values())

177.75

In [240]:
s = 0
for x in a.values():
    s+=x
s/len(a)

177.75

In [242]:
a = [1,2,3,4,5]

In [243]:
avg = mean(a)

In [244]:
avg

3

In [246]:
b = [(1-3)**2, (2-3)**2, (3-3)**2, (4-3)**2, (5-3)**2]

In [245]:
a = [1,2,3,4,5]

In [249]:
s = 0

for b in [(1-3)**2, (2-3)**2, (3-3)**2, (4-3)**2, (5-3)**2]:
    s = s + b
    
s**2

100

In [252]:
c=s**2

In [253]:
c**0.5

10.0

In [254]:
a = [1,2,3,4,5]

s=0
for x in a:
    s += x
    
avg = s/len(a)

s = 0
for x in a:
    s += (x - avg)**2
    
v = s/len(a)
v**0.5

1.4142135623730951

In [261]:
z = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [256]:
mean(z)

10.5

In [266]:
s = 0

for x in z:
    s += (z - 10.5)**2
    
s

TypeError: unsupported operand type(s) for -: 'list' and 'float'